

/* Background Color */ 

$yellow: #FFCC05;
$yellow-light: #fffdf4;
$yellow-light-more: #fffae8;
$black: #171717;
$red: #EF2525;
$grey: #A9A9A9;
$greyMore: #7D7D7D;
$white: #fff;
$bg-body: rgba(0,0,0,0.03);
$radius: 0;
$blue: #087AD2;
$orange: #DC6100;
$defaultColor: #96B5CE;

$border-color-form: #e2e2e2;
$line-color-list: #f4f4f4;

/* link color */

$line-height: 18px;

/* Font Color */
$font-size:14px;
$font-body: 'Open Sans', sans-serif !important; 
$font-color: $black;
$font-color-white: #ffffff;
$fb-color: #4267b2;


$font-light: normal;
$font-normal: 400;
$font-semibold: bold;
$font-bold: 700;
$font-extra: 900;